<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"
              href="{{asset('bootstrap/bootstrap/dist/css/bootstrap.min.css')}}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
       
 <div id =" baseText">
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      
        {% if app.user %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">Logout</a></li>
                <li><a>{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER")%}{{ app.user.username }}{% endif %} <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{{ path('welcome') }}">Welcome</a></li>
                <li><a class="navbar-brand" href="{{ path('projekt_uebersicht') }}">Projekte</a>  </li>        
                <li><a class="navbar-brand" href="http://www.stvkirchberg.ch">STV Kirchberg</a></li>
            </ul>
            
                
        {% else %}
            <a class="navbar-brand" href="{{ path('welcome') }}">Welcome</a>      
            <a class="navbar-brand" href="{{ path('login') }}">Login</a>
            <a class="navbar-brand" href="{{ path('user_registration') }}">Registrieren</a> 
            <a class="navbar-brand" href="{{ path('projekt_uebersicht') }}">Projekte</a> 
            <a class="navbar-brand" href="http://www.stvkirchberg.ch">STV Kirchberg</a>
        {% endif %}
       </div>
    </div>
   </nav>
 </div>
        {% endblock %}
        
        
        
        {% block body %}{% endblock %}
        
        
        
        </body>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
        
                <h4>All Rights reserved by SwissLink and STVKirchberg.ch <img width="25px" src="https://yt3.ggpht.com/-CRlPbqWIHoE/AAAAAAAAAAI/AAAAAAAAAAA/P0TdTdhud9s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg"></h4>
            
            </div>
    </nav> 
    </footer>
        
        
        {% block javascripts %}{% endblock %}
        
    
</html>
