<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"
              href="{{asset('bootstrap/bootstrap/dist/css/bootstrap.min.css')}}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
       
            <div id =" diashowText">
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
               {% if app.user %}
            <a class="navbar-brand" href="{{ path('welcome') }}">Welcome</a>
            <a class="navbar-brand" href="{{ path('projekt_uebersicht') }}">Projekte</a>          
            <a class="navbar-brand" href="http://www.stvkirchberg.ch">STV Kirchberg</a>
            <a class="navbar-brand" href="{{ path('logout') }}">Logout</a>
         
              {% else %}
            <a class="navbar-brand" href="{{ path('welcome') }}">Welcome</a>      
            <a class="navbar-brand" href="{{ path('login') }}">Login</a>
            <a class="navbar-brand" href="{{ path('user_registration') }}">Registrieren</a> 
            <a class="navbar-brand" href="{{ path('projekt_uebersicht') }}">Projekte</a> 
            <a class="navbar-brand" href="http://www.stvkirchberg.ch">STV Kirchberg</a>
             {% endif %}
        </div>
      </div>
    </nav>
    </div>
        {% endblock %}
        
        
        
        {% block body %}{% endblock %}
        
        
        
        </body>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
        
                <h4>All Rights reserved by SwissLink and STVKirchberg.ch <img width="25px" src="https://yt3.ggpht.com/-CRlPbqWIHoE/AAAAAAAAAAI/AAAAAAAAAAA/P0TdTdhud9s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg"></h4>
            
            </div>
    </nav> 
    </footer>
        
        
        {% block javascripts %}{% endblock %}
        
    
</html>
