
{% extends 'base.html.twig' %}

{% block body %}
   <div id =" welcomeText">
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
            <a class="navbar-brand" href="{{ path('login') }}">Login</a>
            <a class="navbar-brand" href="{{ path('user_registration') }}">Registrieren</a>
            <a class="navbar-brand" href="{{ path('projekt_uebersicht') }}">Projekte</a>          
            <a class="navbar-brand" href="http://www.stvkirchberg.ch">STV Kirchberg</a>
        </div>
      </div>
    </nav>
    </div>    
            
            <div class="jumbotron container-fluid">
            <div class="container">
                <h2>Projektansicht</h2>
            </div>

            <div class="container">
                    {% if app.user %}
                            <div id="usercontent">
                              
                              <p>
                                <a href="{{path('neuer_Beitrag')}}">Einen weiteren Beitrag erstellen</a>
                              </p>
                              
                             {% endif %}
                        
                            <div id="beitragsliste">
                            <ol>
                            {% for beitrag in beitraege %}
                                <li><a href="{{path('beitrag_ansehen')}}"><h4>{{ beitrag.titel }}</h4></a></li>
                                <ul>
                                <li>ID:{{ beitrag.id }}</li>
                                <li>Verantwortliche Person: {{ beitrag.ersteller }}</li>
                                <li>Reihenfolge: {{ beitrag.reihenfolge }}</li>
                                <li>Dauer: {{ beitrag.dauer }}</li>
                                <li>Startzeit: {{ beitrag.startzeit }}</li>
                                <li>Lied: {{ beitrag.Lied }}</li>     
                                <li>Material: {{ beitrag.materialliste }}</li>
                                
                                <img src="{{ asset('uploads/brochures/'~beitrag.frontpic) }}" width = "300px" heigth = "300px"></img>
                                <img src="{{ asset('uploads/brochures/'~beitrag.leftsidepic) }}" width = "300px" heigth = "300px"></img>
                                <img src="{{ asset('uploads/brochures/'~beitrag.rightsidepic) }}" width = "300px" heigth = "300px"></img>



                                </ul>
                                {% endfor %}
                            </ol>
                        </div>
                            </div>

        
         </div>            
        </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

